
/*  ---------------
	TOUTE LA PAGE :
    ---------------
    
	 Couleur du fond: LightYellow (ou autre chose !) 
*/

body {
	background-color: #c5c6da;
	margin: 0px;
	padding: 0px;
	font-size: 100%;
	line-height: 1.6;
	font-family: tahoma,arial,helvetica,"bitstream vera sans",sans-serif;
}

.cbgbs{
	background-image: image("Images/bgbs.jpg");
}

/*  ----------------
	PARTIE EN-TETE :
    ----------------
    
	Couleur du fond: Brown (ou autre chose !)
	Couleur du texte: blanc
	Taille des caractère : très gros (xx-large)
	Texte centré
*/
.box {
    background-color: navy;
	height: 80px;
	margin: 0px;
	padding-top: 0px;
    min-width: 750px;
}
nav ul li {
	list-style-type: none;
	display: inline-block;
	padding-right: 15px;
	padding-top: 5px;

}
ul li a {
	color: #fff;
	letter-spacing: 0.01rem;
	text-decoration: none;
}

ul li a:hover {
	color: powderblue;
	text-decoration: underline;
}
/* bloc mot de passe + mdp oublié */
.containermdp {
	display: inline-block;

}
/*                                */

/* BOUTON ET LOGO A GAUCHE */
.menu li {
	float: left;
	padding-top: 25px;
	padding-left: 15px;

}

/* BOUTON CONNEXION A DROITE */

#connexion{
	float: right;
	padding-right: 15px;

}
form {
	padding-top: 20px;
	display: inline-block;
	text-align: right;
}
.connex {
	float: right;
}
/*  couleur mot de passe */
.mdp {
	font-size: 10px;
	color: azure;
}
.mdp:hover{
	color: rgb(31, 29, 172);
}
/*  couleur mot de passe */
.mdp .connexion {
	margin-right: 10px;
}

/*  taille de l'écriture dans les input */
input[type="search"] {
	font-size: 10px;
}
/* Taille du logo oui c'est logique */
#logo {
	height: 80PX;
	border: 1px ;
	padding-left: 5px;
	float: left;
	position: relative;
}

#plogo{
    height: 30px;
}






/*header {
	background-color: Brown;
	color: LightYellow;
	font-size: xx-large;
	text-align: center;
*/





/*  ---------------------
	PARTIE PIED DE PAGE :
    ---------------------
    
	Caractères italiques et de petite taille (small)
	Texte aligné à droite
	Marge extérieure de 100px
	Bordure fine, en pointillés et grise, uniquement supérieure
	Hauteur de l'image: 50px
*/


/*  -------------
	PARTIE MENU :
    -------------

	Couleur du fond: Brown (ou autre chose !)
	Couleur du texte: LightYellow (ou autre chose !) 
	Bordure fine (1px solid) de couleur Orange
	Position fixée à 100px du haut et 8px du bord gauche de la fenêtre
		(menu toujours visible à sa position qd on fait défiler la page vers le bas
		
	
	Marge intérieure des listes non numérotées (ul) : 5pt
	
	
	Description des listes (li) : 
		pas de symbole
		marge intérieure gauche de 5pt
		
		couleur des liens : Salmon (ou autre chose !)
*/
.paramjs{
    height: 600px;
    width: 50%;
    background-color: aqua;
}


/*  ----------------------
	PARTIE CORPS DE PAGE :
    ----------------------
	
	Position *relative* (juste après ce qui se qui se trouve avant dans le .html)
	Placement à 10px du haut et à 120 du bord gauche
	Occupe 80% de la largeur de la fenêtre
	
	Titre de niveau 1 en Brown et en taille x-large
	Titre de niveau 2 en Brown et en taille large
	Titre de niveau 3 en Brown et en taille médium et décalé vers la droite de 20pt
	
	Paragraphes mis en évidence : 
		caractères pas en gras (normal) de couleur FireBrick (ou autre !)

	Liens et ancres :
		couleur des liens non survolés : Brown, pas soulignés
		couleur des liens survolés : salmon, soulignés


	Bordures du tableau collées (pas d'espace entre les cases)
	
	Cases du tableau : 
		une bordure fine en trait plein gris
		une marge intérieure de 2pt
		texte centré
*/



/* texte très important */








/* Pour les formulaires (sujet 1) */